<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Cafe Menu</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<h1>Menu</h1>
<ul>
    <% menuItems.forEach(function (item) { %>
        <li><%= item.name %> - $<%= item.price %> - <%= item.category %></li>
    <% }); %>
</ul>
</body>
</html>